<?php

$development = true;

// See https://www.phpactiverecord.org/projects/main/wiki/Configuration__Setup
$database_connections = ['development' => 'mysql://USER:PASSWORD@HOST/DATABASE?charset=utf8mb4'];